// Theme Variables
:root {
    --primary-dark: #0e2e40;
    --secondary-dark: #333;
    --accent-teal: #579AA2;
    --white: #fff;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
}

